<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AtividadeSemana2/src/atividade01/Hexagono.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="atividade01.Hexagono"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AtividadeSemana2"/>
</launchConfiguration>
