<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RevisaoP1POO2/src/atividadepratica4/TelaCadastro.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="atividadepratica4.TelaCadastro"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RevisaoP1POO2"/>
</launchConfiguration>
